.single-card {
  width: 80%;
  align-items: center;
}

// .card {
//   width: 100%;
//   margin-bottom: 20px;
// }

.category-container {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  
  .row {
    display: flex;
    margin-bottom: -10px;
  }

  .col {
    flex: 0 0 auto;
    margin-right: 16px;
  }
}

.img.card-img-top {
  width: 200px;
}

.card-img-top {
  width: 200px;
  margin: 50px;
  // display: flex;
  // align-items: center;
}