
.single-card {
border-radius: 3px;
margin: 50px;
align-items: center;

}
.single-image {
  height: 500px;
  }

.single-body {
  padding: 20px;
  margin: 30px;
}  

.single-header {
  font-size: large;
  font-weight: bold;
}

.places-stack, .category {
  margin: 10px;
  padding: 10px;
}

.single-box {
  margin: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0,19);
  background-color: whitesmoke;
}

.font-tag {
  padding: 10px;
}
